'.text.html.php.blade':
  'checkboxhorizontal':
    'prefix': 'bootcheckboxh'
    'body': '<div class="form-group">\n    <div class="${5:col-sm-offset-3 col-sm-9}">\n        <div class="checkbox">\n            <label for="${1:checkbox_id}">\n                {!! Form::checkbox(\'${1:checkbox_id}\',${2: null},${3: null}, [\'id\' => \'${1:checkbox_id}\']) !!} ${4:Checkbox label}\n            </label>\n        </div>\n        <small class="text-danger">{{ \$errors->first(\'${1:checkbox_id}\') }}</small>\n    </div>\n</div>'
