'.text.html.laravel-blade':
  'date':
    'prefix': 'bootdate'
    'body': '<div class="form-group">\n    {!! Form::label(\'${1:inputname}\', \'${2:Input label}\') !!}\n    {!! Form::date(\'${1:inputname}\',${3: null}, [\'class\' => \'form-control\'${4:, \'required\' => \'required\'}]) !!}\n    <small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>\n</div>'