'.text.html.laravel-blade':
  'password':
    'prefix': 'bootpassword'
    'body': '<div class="form-group">\n    {!! Form::label(\'${1:password}\', \'${2:Password}\') !!}\n    {!! Form::password(\'${1:password}\', [\'class\' => \'form-control\'${3:, \'required\' => \'required\'}]) !!}\n    <small class="text-danger">{{ \$errors->first(\'${1:password}\') }}</small>\n</div>'