'.text.html.php.blade':
  'radio':
    'prefix': 'bootradio'
    'body': """
        <div class="radio{{ \$errors->has('${1:radio_group_name}') ? ' has-error' : '' }}">
            <label for="${1:radio_group_name}" class="checkbox">
                {!! Form::radio(\'${1:radio_group_name}\',${2: null},${3:  null}, [
                    \'class\' => \'form-control\',
                    \'id\'    => \'${4:radio_id}\',
                ]) !!} ${5:Checkbox label}
            </label>
        </div>
    """
