'.text.html.php.blade':
  'selectrangehorizontal':
    'prefix': 'bootselectrangeh'
    'body': '<div class="form-group">\n    {!! Form::label(\'${1:inputname}\', \'${2:Range}\', [\'class\' => \'${6:col-sm-3 control-label}\']) !!}\n    <div class="${7:col-sm-9}">\n    \t{!! Form::selectRange(\'${1:inputname}\', ${3:0}, ${4:10}, [\'class\' => \'form-control\'${5:, \'required\' => \'required\'}]) !!}\n    \t<small class="text-danger">{{ \$errors->first(\'${1:inputname}\') }}</small>\n\t</div>\n</div>'