'.text.html.php.blade':
  'selectmonthhorizontal':
    'prefix': 'bootselectmonthh'
    'body': '<div class="form-group">\n    {!! Form::label(\'${1:month}\', \'${2:Month}\', [\'class\' => \'${4:col-sm-3 control-label}\']) !!}\n    <div class="${5:col-sm-9}">\n    \t{!! Form::selectRange(\'${1:month}\', [\'class\' => \'form-control\'${3:, \'required\' => \'required\'}]) !!}\n    \t<small class="text-danger">{{ \$errors->first(\'${1:month}\') }}</small>\n\t</div>\n</div>'